.fancybox-thumbs__list a:before {
  border: 1px solid #ff5268 !important;
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  border: 1px solid #ff5268;
}

button.fancybox-button.fancybox-button--zoom,
button.fancybox-button.fancybox-button--play,
button.fancybox-button.fancybox-button--thumbs {
  display: none !important;
}

@media all and (min-width: 768px) {
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }

  .fancybox-show-thumbs .fancybox-thumbs__list {
    margin: auto;
  }
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.width-1350 {
  width: 100% !important;
  max-width: 1350px !important;
}

.container {
  width: 100% !important;
  max-width: 1350px !important;
}

.img-fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#top-bar {
  z-index: 1000 !important;
  height: auto;
  background-color: #303030;
  line-height: 40px;
  border: none;
}

#top-bar .locale_link ul {
  margin: 0;
  list-style: none;
}

#top-bar .locale_link ul li {
  float: left;
}

#top-bar .locale_link ul li a {
  color: #fff;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #fff;
  font-weight: 500;
}

#top-bar .locale_link ul li a:hover {
  color: #33cc66;
}

#top-bar .locale_link ul li:last-child a {
  border: none;
}

#top-bar-nav {
  position: relative;
  float: left;
}

#top-bar-nav ul {
  margin: 0;
  list-style: none;
}

#top-bar-nav ul li {
  float: left;
  position: relative;
  border: none;
  height: 40px;
}

#top-bar-nav ul li a {
  display: block;
  padding: 0 12px;
  font-weight: 700;
  color: #fff;
  height: 40px;
  font-size: 16px;
}

#top-bar-nav ul li:last-child a {
  padding-right: 1px;
}

#top-bar-nav ul li.search-form-top {
  position: relative;
  display: none;
  opacity: 1;
  width: 0;
}

#top-bar-nav ul li.search-form-top form {
  float: right;
  height: 100%;
  margin: 0;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

#top-bar-nav ul li.search-form-top input {
  box-shadow: none !important;
  border-radius: 0;
  border: 0;
  outline: 0 !important;
  font-size: 16px;
  padding: 10px;
  height: 100%;
  width: 100%;
  color: #333;
  font-weight: 700;
  margin-top: 0 !important;
  letter-spacing: 2px;
  background-color: #fff;
}

#top-bar-nav ul li.search-form-top input:focus {
  border: 1px solid #0E76A8;
}

#top-bar-nav ul li.search-top-open {
  display: block;
  opacity: 1;
  width: auto;
}

#top-bar-nav ul li.search-top-open form {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

#top-bar-nav ul li.active {
  background-color: #3b3b3b;
}

#top-bar-nav ul .select_location_box,
#top-bar-nav ul .select_user_box {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  width: 200px;
  overflow: hidden;
  top: 40px;
  left: -100%;
  visibility: hidden;
  height: 0;
  opacity: 0;
  border: 2px solid #0e90d2;
  transition: all 0.4s ease;
}

#top-bar-nav ul .select_location_box li,
#top-bar-nav ul .select_user_box li {
  float: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  display: table;
  width: 100%;
}

#top-bar-nav ul .select_location_box li a,
#top-bar-nav ul .select_user_box li a {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-transform: unset;
}

#top-bar-nav ul .select_location_box li a img,
#top-bar-nav ul .select_user_box li a img {
  margin-right: 0.2rem;
  box-shadow: 0 0 10px #e2e2e2;
  width: 1.5rem;
  height: 1.2rem;
  top: 5px;
  position: relative;
  vertical-align: 0;
}

#top-bar-nav ul .select_location_box li a span,
#top-bar-nav ul .select_user_box li a span {
  padding: 0 8px;
}

#top-bar-nav ul .select_location_box li a:hover,
#top-bar-nav ul .select_user_box li a:hover {
  color: #00a7e1;
}

#top-bar-nav ul .select_location_box_show,
#top-bar-nav ul .select_user_box_show {
  visibility: visible !important;
  opacity: 1 !important;
  height: auto;
}

#top-bar-nav ul .select_user_box {
  left: 0;
}

#top-bar-nav ul .select_user_box li a i {
  margin-right: 5px;
}

/*----------------------------------------------------------------
	Canvas: Business
	Version: 1.0
-----------------------------------------------------------------*/

/*	Primary Menu Header size
-----------------------------------------------------------------*/

@media (min-width: 992px) {
  #header.transparent-header + #slider,
  #header.transparent-header + #page-title.page-title-parallax,
  #header.transparent-header + #google-map,
  #slider + #header.transparent-header {
    top: -80px;
    margin-bottom: -80px;
  }

  #header.transparent-header.floating-header + #slider,
  #header.transparent-header.floating-header + #google-map {
    top: -140px;
    margin-bottom: -140px;
  }

  #header.transparent-header + #page-title.page-title-parallax .container {
    padding-top: 80px;
  }

  #primary-menu ul li > a {
    padding-top: 29px;
    padding-bottom: 29px;
    text-transform: none;
    font-weight: 500;
  }

  #top-search,
  #top-cart,
  #side-panel-trigger {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #top-cart .top-cart-content {
    top: 50px;
  }

  #header,
  #header-wrap,
  #logo img {
    height: 80px;
  }

  #header.sticky-header:not(.static-sticky),
  #header.sticky-header:not(.static-sticky) #header-wrap,
  #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 60px;
  }

  #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  #header.sticky-header:not(.static-sticky) #top-search,
  #header.sticky-header:not(.static-sticky) #top-cart,
  #header.sticky-header:not(.static-sticky) #side-panel-trigger {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  #header.sticky-header:not(.static-sticky) #top-cart .top-cart-content,
  #header.sticky-header:not(.static-sticky) #primary-menu.sub-title.style-2 > div #top-cart .top-cart-content {
    top: 40px;
  }

  #primary-menu ul li > a > div {
    position: relative;
  }

  #primary-menu ul li ul li a > div:after {
    content: none;
  }

  img.man {
    margin-left: 100px;
  }

  .section.parallax {
    padding: 160px 0;
  }
}

#header.transparent-header {
  background-color: #fff;
}

@media (max-width: 991.98px) {
  #header #logo {
    height: 80px;
  }
}

#header #logo img {
  width: auto;
  height: 45px;
  margin: 18px 0;
}

@media (max-width: 991.98px) {
  #header #primary-menu-trigger {
    top: 18px;
  }
}

#header.sticky-header #header-wrap {
  background-color: #fff !important;
}

#header.sticky-header #header-wrap ul li a {
  color: #464646;
}

#header.sticky-header #header-wrap ul li a div:after {
  background-color: #464646;
}

#header.sticky-header #header-wrap .mega_menu .mega_menu_box {
  background-color: white;
}

#header.sticky-header #header-wrap .mega_menu .mega_menu_box li a {
  border-bottom: 1px solid #adb495;
  color: #000;
}

#header.sticky-header #header-wrap .mega_menu .mega_menu_box li a:hover {
  color: #fff;
  background-color: rgba(65, 65, 65, 0.8);
}

#header.sticky-header #logo img {
  height: 30px !important;
  margin: 15px 0;
}

#primary-menu ul li #dangtin {
  color: #DD4B39;
  padding: 11px 35px !important;
  font-size: 15px;
  line-height: 15px;
  height: 40px;
  margin: 20px 0;
  border: 2px solid #DD4B39;
  border-radius: 0;
  background: none;
  font-weight: 600;
}

#primary-menu ul li #dangtin:hover {
  color: #FFFFFF;
  background-color: #DD4B39;
}

#primary-menu ul li #dangtin:focus {
  box-shadow: unset;
}

#primary-menu ul li #dangtin div:after {
  opacity: 0;
  background-color: unset;
}

#primary-menu ul li:last-child a {
  padding-right: 0 !important;
}

#primary-menu ul li a {
  padding-left: 10px !important;
  padding-right: 10px !important;
  color: #464646;
  font-size: 15px;
}

#primary-menu ul li a div:after {
  opacity: 0;
  content: "";
  background-color: #464646;
  position: absolute;
  bottom: 1px;
  left: 8%;
  width: 83%;
  height: 1px;
  transition: all 0.3s ease;
}

#primary-menu ul li:hover > a {
  color: #000000;
}

#primary-menu ul li.active > a > div:after,
#primary-menu ul li:hover > a > div:after {
  bottom: -1px;
  opacity: 1;
}

#primary-menu .mega_menu .mega_menu_box {
  background-color: white;
  border-top: 2px solid #33cc66;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

#primary-menu .mega_menu .mega_menu_box a {
  font-size: 14px;
  font-weight: 100;
}

#primary-menu .mega_menu .mega_menu_box li a {
  border-bottom: none;
  color: #000;
}

#primary-menu .mega_menu .mega_menu_box li a:hover {
  color: #fff;
  background-color: rgba(65, 65, 65, 0.8);
}

#primary-menu .mega_menu .mega_menu_box .sub-menu ul {
  border-top: 2px solid #33cc66;
}

.link_banner {
  display: block;
  width: 100%;
  height: 100%;
}

.banner_home {
  height: 600px;
}

.search_box {
  top: 50% !important;
}

.btn_search {
  color: #fff;
  background-color: #33cc66;
  border: none;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn_search span {
  padding-right: 5px;
}

.form_search {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
}

.search_box_header {
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border: none;
  position: relative;
}

.search_box_header .title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #33cc66;
}

.search_box_header .search_box_header_left {
  padding-right: 30px;
  width: 30%;
}

.search_box_header .search_box_header_middle {
  padding-right: 25px;
  width: 30%;
}

.search_box_header .search_box_header_right {
  width: 40%;
}

.search_box_header .search_box_header_right .white-section {
  margin: 50px 10px 0 20px;
}

.search_box_header .input_search {
  margin-bottom: 15px;
}

.search_box_header .input_search:last-child {
  margin: 0;
}

.search_box_header .input_search .form-control {
  height: 40px;
}

#footer {
  background-color: #191a1a;
}

#footer h4 {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

#footer h4:hover {
  color: #33cc66;
}

#footer ul li {
  padding: 0 0 8px;
}

#footer a {
  color: #f9f7f7;
  padding: 0;
}

#footer a:hover {
  color: #33cc66;
}

#footer .col_one_fourth .col_footer {
  margin-left: 60px;
}

#footer .col_one_fourth:first-child .col_footer {
  margin: 0;
}

#footer #copyrights {
  padding: 5px 0;
  background-color: #000;
}

#footer #copyrights p {
  margin: 0 20px 0 0;
  color: #9c9898;
  font-size: 13px;
}

#footer #copyrights a {
  width: 20px;
  height: 20px;
  line-height: 19px !important;
  font-size: 9px;
}

#footer #copyrights a:hover i:first-child {
  margin-top: -18px;
}

.lost_password form {
  height: 40px;
  margin-bottom: 30px;
}

.lost_password form .email_input {
  float: left;
  width: calc(100% - 74px);
  height: 100%;
}

.lost_password form .email_input input {
  width: 100%;
  font-size: 16px;
  height: 100%;
  color: #fff;
  background-color: #33cc66;
  border: 2px solid #33cc66;
}

.lost_password form .email_input input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 100;
}

.lost_password form .email_input input::-moz-placeholder {
  color: #fff;
  font-weight: 100;
}

.lost_password form .email_input input:-ms-input-placeholder {
  color: #fff;
  font-weight: 100;
}

.lost_password form .email_input input::-ms-input-placeholder {
  color: #fff;
  font-weight: 100;
}

.lost_password form .email_input input::placeholder {
  color: #fff;
  font-weight: 100;
}

.lost_password form .email_input input.error {
  border-color: #E42C3E;
}

.lost_password form button {
  float: left;
  width: 70px;
  margin-left: 4px;
  height: 100%;
  border: none;
  color: #fff;
  background-color: #424243;
  font-weight: 400;
  cursor: pointer;
}

.lost_password form button:hover {
  background-color: #343435;
}

.login_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.show_err {
  color: #E42C3E;
  padding-bottom: 10px;
}

.show_err p {
  margin: 0;
}

.search_pagination .pagination {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}

.search_pagination .pagination .page-item {
  padding: 0 5px;
}

.search_pagination .pagination .page-item .page-link {
  color: #333333;
  background-color: #fff;
  border: 1px solid #6a6765;
  border-radius: 50% !important;
}

@media (max-width: 375px) {
  .search_pagination .pagination .page-item .page-link {
    font-size: 12px;
    padding: 6px 10px;
  }
}

.search_pagination .pagination .page-item .page-link:hover,
.search_pagination .pagination .page-item .page-link:focus {
  background-color: #33cc66 !important;
  border: 1px solid #33cc66 !important;
}

.search_pagination .pagination .page-item.active .page-link {
  background-color: #fff !important;
  color: #33cc66 !important;
  border: 1px solid #33cc66 !important;
}

.btn_view_more_products {
  background-color: #F26522;
  color: #fff;
  padding: 10px 35px;
  font-size: 20px;
  border-radius: 0;
}

.btn_view_more_products:hover {
  background-color: #21bef2;
}

.breadcrumb {
  position: unset !important;
  margin: 0 !important;
  padding: 20px 0 !important;
}

.posts_hot_top {
  margin-top: 30px;
}

.posts_hot_top .post_main,
.posts_hot_top .post {
  position: relative;
}

.posts_hot_top .post {
  margin-bottom: 30px;
  height: 235px;
  overflow: hidden;
}

.posts_hot_top .post img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: 0.4s all;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts_hot_top .post a:hover img {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

.posts_hot_top .post a:hover .post_title {
  background-color: #33cc66;
}

.posts_hot_top .post a:hover p {
  color: #fff;
}

.posts_hot_top .post .post_title {
  background-color: rgba(255, 107, 0, 0.8);
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
}

.posts_hot_top .post .post_title p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 100;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding: 0 10px;
  color: #fff;
  margin: 0;
}

.posts_hot_top .post_main {
  height: 500px;
}

.posts_hot_top .post_main .post_title p {
  font-size: 21px;
  font-weight: 600;
  -webkit-line-clamp: 2;
  height: 65%;
  margin: 4% 0;
}

.posts_body {
  margin-top: 50px;
}

.posts_body .post_item {
  margin-bottom: 50px;
  border: 1px solid #b2b2b2;
  position: relative;
  display: flow-root;
}

.posts_body .post_item .post_item_img {
  width: 100%;
  height: 350px;
  margin: 0;
  padding-right: 15px;
  display: flow-root;
  overflow: hidden;
}

.posts_body .post_item .post_item_img a {
  height: 100%;
}

.posts_body .post_item .post_item_img a img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts_body .post_item .post_item_text {
  height: 350px;
}

.posts_body .post_item .post_item_text .vertical-middle {
  padding: 0 50px 0 15px;
}

.posts_body .post_item .post_item_text .post_title {
  font-size: 21px;
  line-height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 64px;
  color: #000;
}

.posts_body .post_item .post_item_text .post_title:hover {
  color: #333;
}

.posts_body .post_item .post_item_text .post_date {
  display: block;
  margin: 15px 0;
  font-style: italic;
  color: #333;
}

.posts_body .post_item .post_item_text .post_teaser {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  color: #000;
}

.posts_body .post_item .view_more {
  border: 1px solid #33cc66;
  color: #33cc66;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  width: 120px;
  padding: 5px 0;
  float: right;
}

.posts_body .post_item .view_more:focus,
.posts_body .post_item .view_more:hover,
.posts_body .post_item .view_more:active {
  color: #fff;
  background-color: #33cc66;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) and (max-width: 991px) {
  .posts_body .post_item .post_item_img {
    height: 300px;
  }

  .posts_body .post_item .post_item_text {
    height: 300px;
  }

  .posts_body .post_item .post_item_text .vertical-middle {
    padding: 0 40px 0 20px;
  }

  .posts_body .post_item .post_item_text .post_title {
    font-size: 20px;
    line-height: 25px;
    height: 50px;
  }

  .posts_body .post_item .post_item_text .post_teaser {
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 768px) {
  .posts_body .post_item .post_item_img {
    height: 300px;
    padding: 0;
  }

  .posts_body .post_item .post_item_text {
    height: 300px;
  }

  .posts_body .post_item .post_item_text .vertical-middle {
    padding: 0 30px;
  }

  .posts_body .post_item .post_item_text .post_title {
    font-size: 20px;
    line-height: 25px;
    height: 50px;
  }

  .posts_body .post_item .post_item_text .post_teaser {
    -webkit-line-clamp: 3;
  }
}

.about_content .post_item .post_item_img {
  padding: 0;
}

.about_content .post_item .post_item_text .vertical-middle {
  padding: 50px;
}

.about_content .post_item .post_item_text .post_title {
  margin-bottom: 20px;
}

.about_content .post_item .post_item_text .post_teaser {
  padding: 0;
}

.about_content .post_item .angle {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #33cc66;
  display: block;
  height: 40px;
  width: 40px;
}

.about_content .post_item .angle:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  left: -40px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, #33cc66 50%);
}

.about_content .post_item .angle_left {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #33cc66;
  display: block;
  height: 40px;
  width: 40px;
}

.about_content .post_item .angle_left:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: -40px;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, #33cc66 50%);
}

.header_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(57deg, rgba(50, 48, 46, 0.45) 50%, rgba(255, 255, 255, 0.45) 50%);
}

.header_overlay_left,
.header_overlay_right {
  width: 50%;
  height: 100%;
  top: 0;
}

.header_overlay_left {
  float: left;
}

.header_overlay_left .logo {
  position: absolute;
  width: 23%;
  top: 49%;
  left: 8%;
}

.header_overlay_left .logo img {
  width: 100%;
}

.header_overlay_right {
  float: right;
}

.header_overlay_right .title {
  position: absolute;
  right: 0;
  width: 55%;
  background-color: #33cc66;
  top: 34%;
}

.header_overlay_right .title:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  width: 10%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 50%, #33cc66 50%);
}

.header_overlay_right .title h2 {
  width: -webkit-max-content;
  width: max-content;
  width: -moz-max-content;
  margin: auto;
  padding: 8% 0;
  color: #fff;
}

.cart_content {
  margin-bottom: 30px;
}

.cart_content .cart_content_empty {
  text-align: center;
}

.cart_content .cart_content_empty .content {
  max-width: 368px;
  min-width: 288px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.cart_content .cart_content_empty .content img {
  width: 100%;
}

.cart_content .cart_content_empty .content p {
  margin: 20px 0;
}

.cart_content .btn.to_pay {
  width: 100%;
  border-radius: 0;
  color: #fff;
  background: #33cc66;
  padding: 10px;
  margin-bottom: 8px;
  outline: none;
}

.cart_content .btn.to_pay:focus,
.cart_content .btn.to_pay:hover,
.cart_content .btn.to_pay:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_content .profile_nav {
  padding-right: 30px;
}

.profile_content .profile_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile_content .profile_nav ul li a {
  color: #4a4a4a;
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 400;
}

.profile_content .profile_nav ul li a i {
  padding-right: 10px;
}

.profile_content .profile_nav ul li a:hover {
  color: #000;
  background: #ececec;
}

.profile_content .profile_nav ul li .active {
  color: #000;
  background: #ececec;
}

.profile_content .profile_right {
  width: 78%;
  border-radius: 10px;
}

@media (max-width: 991px) {
  .profile_content .profile_right {
    width: 100%;
  }
}

.profile_content .profile_right h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.profile_content .profile_right .table_list_order {
  width: 100%;
  color: #424242;
}

.profile_content .profile_right .table_list_order .tbl_motel_title {
  color: #DD4B39;
  font-size: 16px;
}

.profile_content .profile_right .table_list_order .tbl_motel_title:hover {
  color: green;
}

.profile_content .profile_right .table_list_order .btn_rectangle {
  border: none;
  border-radius: 0;
  padding: 5px 15px;
  font-size: 13px;
}

.profile_content .profile_right .table_list_order td,
.profile_content .profile_right .table_list_order th {
  padding: 6px;
}

.profile_content .profile_right .table_list_order thead tr {
  padding: 10px;
}

.profile_content .profile_right .table_list_order thead tr th {
  padding: 10px 15px;
  min-width: 130px;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
}

.profile_content .profile_right .table_list_order tr td {
  vertical-align: middle !important;
}

.profile_content .profile_right .tab_profile label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.profile_content .profile_right .tab_profile .input_with_label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile_content .profile_right .tab_profile .input_with_label_left {
  width: 20%;
  text-align: right;
  color: rgba(85, 85, 85, 0.8);
  text-transform: capitalize;
  overflow: hidden;
}

.profile_content .profile_right .tab_profile .input_with_label_right {
  width: 80%;
  box-sizing: border-box;
  padding-left: 1.25rem;
}

.profile_content .profile_right .tab_profile .input_with_label_right .form-control {
  background: none;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  transition: border-color 0.1s ease;
  font-size: 14px;
  border-radius: 2px;
}

.radio_inline {
  display: flex;
}

.radio_inline_item {
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  display: flex;
  cursor: default;
  padding: 16px 12px;
}

.radio_inline_item .radio-style-2-label {
  text-transform: inherit;
  font-size: 14px;
  color: #555555;
}

.radio_inline_item .radio-style:checked + .radio-style-2-label:before {
  background-color: #33cc66;
}

.radio_inline_item .radio-style-2-label:before {
  border-color: #33cc66;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border-color: #202326;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(2.25rem + 2px);
  top: 0;
}

.post_detail .post_detail_content img {
  width: 100% !important;
  height: auto !important;
}

.post_detail .post_detail_content p {
  margin-bottom: 15px;
}

.post_detail .post_detail_content table {
  width: 100% !important;
}

.post_detail .post_detail_content table td {
  padding: 10px;
}

.post_detail .post_detail_content table p {
  margin-bottom: 0;
}

.post-right-sidebar .news-feed .mini-desc {
  color: #000;
}

.post-right-sidebar .news-feed .mini-desc:hover {
  color: #595959;
}

.map_canvas {
  width: 100%;
  height: 600px;
}

.container_infobox p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.container_infobox .link {
  margin-top: 10px;
}

.contact_content {
  padding-bottom: 30px;
}

.contact_content .fancy-title.title-border-color {
  margin-bottom: 15px;
}

.contact_content .fancy-title.title-border-color:before {
  top: 71%;
  border-top: 1px solid #000;
}

.contact_content .fancy-title.title-border-color h3 {
  padding-right: 10px;
  color: #000;
}

.contact_content .row {
  margin-right: -30px;
  margin-left: -30px;
}

.contact_content .left,
.contact_content .right {
  padding: 0 30px;
}

.contact_content .company_info .company_name {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
}

.contact_content .company_info ul {
  list-style: none;
  margin-bottom: 10px;
}

.contact_content .company_info ul li {
  display: flow-root;
  padding-bottom: 5px;
}

.contact_content .company_info ul li i {
  color: #e53827;
  width: 25px;
  font-size: 16px;
  float: left;
}

.contact_content .company_info ul li span {
  color: #000;
  width: calc(100% - 25px);
  float: left;
  line-height: 28px;
}

.contact_content .company_info .divider {
  color: #7c7c7c;
  width: 64%;
  margin: 0 0 15px 0;
}

.contact_content .company_info .divider i {
  display: block;
}

.contact_content .company_info .divider:after {
  border-top: 1px solid #000;
  top: 9px;
  left: 17px;
}

.contact_content .map_canvas {
  height: 300px;
  overflow: hidden;
  background-color: #dddddd;
}

.contact_content .map_canvas iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}

.contact_content .line {
  width: 30%;
  margin: 40px auto;
  border-top: 1px solid #000;
}

.contact_content .form_contact label {
  color: #000;
}

.contact_content .form_contact label i {
  color: #e53827;
  margin-right: 10px;
  font-size: 18px;
  bottom: -2px;
}

.contact_content .form_contact input {
  border: 1px solid #000;
  padding: 5px 14px;
}

.contact_content .form_contact textarea {
  border: 1px solid #000;
  resize: none;
}

.contact_content .form_contact button {
  float: right;
  background-color: #000;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 0;
}

.contact_content .form_contact button:focus,
.contact_content .form_contact button:hover,
.contact_content .form_contact button:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact_content .form_contact .intro {
  margin: 60px 0;
}

.contact_content .form_contact .intro p {
  text-align: justify;
}

.contact_content .form_contact p {
  margin-bottom: 15px;
}

.contact_content .form_contact .divider {
  color: #7c7c7c;
  width: 64%;
  margin: 0;
  float: right;
}

.contact_content .form_contact .divider i {
  background-color: #fff;
  float: right;
}

.contact_content .form_contact .divider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #000;
  top: 9px;
  left: 19px;
}

.contact_content .form_contact .divider:after {
  content: unset;
}

.fancy-title.title-dotted-border {
  background-size: 1px;
  margin-top: 20px;
}

.intro-home {
  margin-top: 20px;
}

.circle {
  border: 1px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.asks-first {
  padding: 10px 0 10px 30px;
  position: relative;
  background: #56AEE3;
  color: #fff;
  height: 150px;
}

.asks-first h2 {
  color: #ffffff;
  margin: 10px 0;
}

.asks-first2 {
  background: #64BA71;
  color: #fff;
}

.asks-first-circle {
  float: left;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 0;
  margin-top: 15px;
}

.asks-first-info {
  margin: 0 67px 0 95px;
}

.asks-first-arrow {
  top: 0;
  position: absolute;
  right: 0;
  width: 60px;
  height: 100%;
  float: right;
  background: rgba(0, 0, 0, 0.06);
}

.asks-first-circle span {
  vertical-align: middle;
  font-size: 30px;
  margin-top: 18px;
  line-height: 1;
}

.show_motel .title {
  margin-bottom: 40px;
}

.room-item .entry-image a {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.room-item .entry-image img {
  height: 100%;
}

.room-item .entry-title h3 {
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.room-item .entry-title h3 a:hover {
  color: #33cc66;
}

.room-item .room-info i {
  vertical-align: middle;
}

.room-item .room-info .info-item {
  margin-bottom: 10px;
}

.room-item .room-info .info-item:hover {
  color: #33cc66;
  cursor: pointer;
}

.room-item .room-info .room-price {
  color: #DD4B39;
}

.room-item .room-info .room-price:hover {
  color: #A94442;
  cursor: pointer;
}

.room-detail .title h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.room-detail .title h1:hover {
  color: #33cc66;
  cursor: pointer;
}

.room-detail .room-detail-img,
.room-detail .room-detail-des,
.room-detail .room-detail-map {
  margin-top: 30px;
}

.room-detail .room-detail-img .title h2,
.room-detail .room-detail-des .title h2,
.room-detail .room-detail-map .title h2 {
  font-size: 26px;
  color: #31708F;
}

.room-detail .room-detail-img .title h2:hover,
.room-detail .room-detail-des .title h2:hover,
.room-detail .room-detail-map .title h2:hover {
  color: #33cc66;
}

.room-detail .room-detail-img .img-item {
  height: 200px;
}

.main-info {
  background-color: #ecf0f1;
  margin-top: 10px;
}

.main-info .table th,
.main-info .table td {
  vertical-align: middle;
}

.main-info .table th {
  background-color: #31708F;
  width: 150px;
  color: #ffffff;
  cursor: pointer;
}

.main-info .table th:hover {
  color: #33cc66;
}

.main-info .left-info {
  background-color: #FFF;
  padding-right: 0;
}

.main-info .left-info a {
  text-decoration: none;
  font-weight: 600;
  color: #2e3339;
  margin-left: 5px;
}

.main-info .left-info a:hover {
  color: #33cc66;
}

.main-info .info-label {
  /* cursor: inherit; */
  border-radius: 0;
  border: none;
  width: 100px;
  height: 36px;
  background-color: #ecf0f1;
  padding: 6px 12px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.main-info .info-data {
  border-radius: 0;
  border: none;
  width: 180px;
  padding: 6px 0;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.main-info .info-data a {
  text-decoration: none;
  font-weight: 600;
  color: #2e3339;
  margin-left: 5px;
}

.main-info .info-data a:hover {
  color: #DD4B39;
}

.main-info .info-boss {
  margin-bottom: 10px;
}

.main-info .info-boss a span {
  color: #2e3339;
  margin-right: 10px;
  font-size: 16px;
}

.main-info .info-phone {
  margin-bottom: 20px;
}

.main-info .info-phone a {
  font-size: 16px;
  color: #2e3339;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
}

.main-info .info-phone a:hover {
  color: #DD4B39;
}

.main-info .info-phone a span {
  color: #2e3339;
  margin-right: 10px;
  font-size: 16px;
}

.main-info .info-price {
  margin-bottom: 10px;
}

.main-info .info-price a {
  font-size: 16px;
  color: #FF0047;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
}

.main-info .info-price a:hover {
  color: #DD4B39;
}

.main-info .info-price a span {
  color: #2e3339;
  margin-right: 10px;
  font-size: 16px;
}

.main-info .info-contact {
  padding-left: 0;
}

.main-info .info-contact .contact-label a {
  font-size: 18px;
  color: #2e3339;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
}

.main-info .info-contact .contact-label a:hover {
  color: #DD4B39;
}

.main-info .info-contact .contact-label a span {
  color: #33cc66;
  margin-right: 10px;
  font-size: 20px;
  vertical-align: bottom;
}

.main-info .info-contact .chr hr {
  border-color: #33cc66;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-info .info-contact .info-feedback .btn_search {
  font-size: 14px;
  font-weight: 400;
}

.help-block {
  font-size: 11px;
  color: red;
  padding-top: 2px;
  padding-right: 2px;
}

#step-2,
#step-3 {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

#step-2.show,
#step-3.show {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.motels_map {
  margin-top: 20px;
  margin-bottom: 30px;
}

.motels_map .control_box {
  width: 500px;
}

.motels_map .control_box .form-control {
  border-radius: 0;
  border-color: #202326;
  margin-bottom: 15px;
}

.motels_map .control_box .form-control:focus,
.motels_map .control_box .form-control:hover,
.motels_map .control_box .form-control:active {
  color: #000;
  background-color: #fff;
  border: 1px solid #202326;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control.error {
  border-color: red;
}

.post_motel_content .submit-list-type {
  margin-bottom: 20px;
}

.post_motel_content .title-block {
  padding: 8px 0 8px 9px;
  border-left: 3px solid #33cc66;
  margin-bottom: 10px;
  background-color: #ecf0f1;
}

.post_motel_content .title-block h4.step_title {
  color: #EE4056;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.post_motel_content .control-label {
  padding-bottom: 5px;
  font-weight: 600;
}

.post_motel_content .submit-list-type .form-check {
  background-color: #ecf0f1;
  padding: 10px 10px 10px 15px;
}

.post_motel_content .submit-list-type .form-check:not(:last-child) {
  margin-bottom: 5px;
}

.post_motel_content .room-option {
  background-color: #ecf0f1;
  padding: 15px 0 10px 0;
}

.post_motel_content .room-option .amen_item {
  margin-bottom: 5px;
}

.post_motel_content .room-option .form-check {
  padding-left: 10px;
}

.post_motel_content .form-check-label {
  font-size: 13px;
  line-height: 14px;
  text-transform: inherit;
  vertical-align: middle;
}

.post_motel_content .form-check-label .icheckbox_square-green,
.post_motel_content .form-check-label .iradio_square-green {
  margin-right: 10px;
}

.post_motel_content .form-check-label .icheckbox_square-green,
.post_motel_content .form-check-label .iradio_square-green {
  background-size: 172px 18px;
  width: 18px;
  height: 18px;
}

.post_motel_content .form-check-label .icheckbox_square-green,
.post_motel_content .form-check-label .iradio_square-green {
  background-position: -16px 0;
}

.post_motel_content .form-check-label .icheckbox_square-green.hover,
.post_motel_content .form-check-label .iradio_square-green.hover {
  background-position: -33px 0;
}

.post_motel_content .form-check-label .icheckbox_square-green.checked,
.post_motel_content .form-check-label .iradio_square-green.checked {
  background-position: -33px 0;
}

.post_motel_content .dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.select2-container--bootstrap .select2-selection {
  border: 1px solid #ced4da;
}

.select2-container--bootstrap .select2-selection.error {
  border-color: red;
}

@media (max-width: 991.98px) {
  .asks-first {
    padding: 10px 0 10px 15px;
    height: 160px;
  }

  .asks-first h2 {
    color: #ffffff;
    margin: 10px 0;
    font-size: 24px;
    line-height: 26px;
  }

  .asks-first p {
    margin: 0;
  }

  .asks-first-info {
    margin: 0 40px 0 95px;
  }

  .search_box_header {
    display: block;
  }

  .search_box_header .search_box_header_left {
    width: 50%;
    float: left;
    padding-bottom: 20px;
  }

  .search_box_header .search_box_header_middle {
    width: 50%;
    float: left;
  }

  .search_box_header .search_box_header_right {
    clear: both;
    width: 100%;
  }

  .btn_search:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .asks-first {
    margin-bottom: 20px;
    height: 150px;
    padding: 35px 0 10px 30px;
  }

  .asks-first h2 {
    font-size: 26px;
    line-height: 28px;
  }

  .asks-first-circle {
    margin-top: 4px;
  }

  .main-info .left-info {
    padding-right: 15px;
  }

  .main-info .info-contact {
    padding-left: 15px;
  }

  .btn_search {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 575.98px) {
  .motels_map .control_box {
    width: 300px;
  }

  .form_search {
    margin-top: 30px;
  }

  .search_box_header {
    display: block;
  }

  .search_box_header .search_box_header_left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .search_box_header .search_box_header_middle {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .search_box_header .search_box_header_right {
    width: 100%;
    padding-bottom: 20px;
  }

  .search_box_header .search_box_header_right .white-section {
    margin: 50px 10px 0 10px;
  }

  .container,
  #header.full-header .container,
  .container-fullwidth {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: 488.98px) {
  .asks-first-info p {
    display: none;
  }
}

@media (max-width: 390.98px) {
  .asks-first {
    padding: 20px 20px;
    height: auto;
  }

  .asks-first-info {
    margin: 0 0 0 80px;
  }

  .asks-first-info p {
    display: none;
  }

  .asks-first-info h2 {
    font-size: 20px;
  }
}

